<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/card.css">
</head>
<body>
    
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<body>
	<div class="container">	
		<div class="cards">
			<div class="card one">
				<div class="details">
					<div class="content">
						<h2>INDEX</h2>
						<p>Search By Index</p>
						<a href="/searchByindex" class="button">Get</a>
					</div>
				</div>
			</div>
			<div class="card two">
				<div class="details">
					<div class="content">
						<h2>INVOICE ID</h2>
						<p>Search by invoice Id</p>
						<a href="/search/invoiceID" class="button">Get</a>
					</div>
				</div>
			</div>
			<div class="card three">
				<div class="details">
					<div class="content">
						<h2>PRODUCE LINE</h2>
						<p>Seacrch by produce Line</p>
						<a href="/search/produceLine/" class="button">Get</a>
					</div>
				</div>
			</div>
            <div class="card one">
				<div class="details">
					<div class="content">
						<h2>VIEW ALL</h2>
						<p>View All Data</p>
						<a href="/viewData" class="button">Get</a>
					</div>
				</div>
			</div>
            <div class="card two">
				<div class="details">
					<div class="content">
						<h2>FILTER ZERO</h2>
						<p>View All Data filter Zero</p>
						<a href="/viewName" class="button">Get</a>
					</div>
				</div>
			</div>
			<div class="card three">
				<div class="details">
					<div class="content">
						<h2>LOAD DATA</h2>
						<p>Load the json data</p>
						<a href="/allData" class="button">Get</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
</body>
</body>
</html>
{{!-- /******************************************************************************
***
* ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: _George devid john______ Student ID: _no1547325_______ Date: __November 3_________
*
*
******************************************************************************
**/  --}}